---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const page = await getEntry('pages', 'frontpage');
const { Content } = await page.render()
const pageJSON = JSON.stringify(page);

const posts: any = await getCollection('posts');
console.log(Content)
---

<Layout title="Keystatic & Astro's Content Collections">
  <div>
    <h1>Keystatic ⚡️ + Astro 🚀</h1>
    <p>
      This homepage shows how to load data from Astro's content collections.
    </p>
    <p>
      <a href="/keystatic">Click here to visit the Admin UI</a>, or the link
      below to view a post in the collection.
    </p>
    <h2>Posts</h2>
    <ul>
      {
        posts.map(post => (
          <li>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
    <Fragment set:html={pageJSON} />
    <Content />
  </div>
</Layout>
